%chk=tmp
%mem=100MB

#p b3lyp/6-31+g(d,p) force nosym

c2h6 molecule

0 1
C1
C2 1 d1
H3 1 d2 2 a1
H4 1 d3 2 a2 3 t1
H5 1 d4 2 a3 3 t2
H6 2 d5 1 a4 3 t3
H7 2 d6 1 a5 6 t4
H8 2 d7 1 a6 6 t5


d1=%%D1%%
a1=%%A1%%
t1=%%T1%%
d2=%%D2%%
a2=%%A2%%
t2=%%T2%%
d3=%%D3%%
d4=%%D4%%
a3=%%A3%%
d5=%%D5%%
a4=%%A4%%
t3=%%T3%%
d6=%%D6%%
a5=%%A5%%
t4=%%T4%%
d7=%%D7%%
a6=%%A6%%
t5=%%T5%%
